tag($color)
  background-color: $color
  border-radius: 10px
  color: #fff
  display: inline-block
  font-size: 12px
  height: 18px
  line-height: 18px
  padding: 0 6px
  text-align: center
  white-space: nowrap
ellipsis()
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
theme($color)
  background-color: $color
